.filterBar {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.search-bar {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    border: lightskyblue solid;
}
